DATABASE_URL=""
USE_DATABASE="false"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GEMINI_API_KEY=""
USE_AI="false"
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""
RESEND_API_KEY=""
DEMO_PASSWORD=""
